In [1]:
import pandas as pd
import os

In [3]:
data = pd.read_csv('train/data/Case001.csv')
data.head()

    TIME   P1   P2   P3   P4   P5   P6   P7
0  0.000  2.0  2.0  2.0  2.0  2.0  2.0  2.0
1  0.001  2.0  2.0  2.0  2.0  2.0  2.0  2.0
2  0.002  2.0  2.0  2.0  2.0  2.0  2.0  2.0
3  0.003  2.0  2.0  2.0  2.0  2.0  2.0  2.0
4  0.004  2.0  2.0  2.0  2.0  2.0  2.0  2.0

In [7]:
dfs = []

for i in range(2, 178):
    file_path = f'train/data/Case{i:03d}.csv'
    if os.path.exists(file_path):
        df = pd.read_csv(file_path)
        dfs.append(df)

# Concatenate the dataframes
concatenated_df = pd.concat([data] + dfs, ignore_index=True)

# Print the concatenated dataframe
concatenated_df

,TIME,P1,P2,P3,P4,P5,P6,P7
0,0.000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
1,0.001,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
2,0.002,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
3,0.003,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
4,0.004,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
...,...,...,...,...,...,...,...,...
212572,1.196,1.948734,1.912482,1.904362,1.835654,1.924899,1.857220,1.920020
212573,1.197,1.948823,1.899824,1.884360,1.825497,1.927513,1.846068,1.919081
212574,1.198,1.957784,1.911383,1.893740,1.859805,1.940953,1.861668,1.950562
212575,1.199,1.970451,1.950009,1.945417,1.913911,1.953648,1.835381,1.983321
212576,1.200,1.988895,1.997232,2.003571,1.989339,1.981822,1.888756,1.985784

In [19]:
concatenated_df.to_csv('concatenated.csv', index=False)